<div class="jumbotron">
  <h3 class="display-3">Seleccione una Opcion</h3>
  <ng-select class="m-5" 
  [items]="dimensiones"
  [clearable]="false"
  (change)="Dimension($event)"
  placeholder="Seleccione una dimension"
  >
</ng-select>
<ng-select class="m-5" 
  [items]="anios"
  [clearable]="false"
  
  (change)=" Anio($event)"
  placeholder="Seleccione un año"
  >
</ng-select>
<ng-select class="m-5" 
  [items]="meses"
  [clearable]="false"
  (change)=" Mes($event)"
  placeholder="Seleccione un mes"
  >
</ng-select>
</div>
<app-pie-chart
  [pieChartLabels]="dataDimension"
  [pieChartData]="dataValues"
></app-pie-chart>
